.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.container {
    margin-top: 20px;
}

/* Заголовок */
h1 {
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Карточка автосервиса */
.service-preview {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-preview:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my-service-preview {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.my-service-preview:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.my-services-body {
    margin-left: 300px;
}
/* Название сервиса */
.service_name a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.service_name a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Адрес */
.service_name span {
    font-size: 16px;
    color: #555;
}

/* Рабочие часы */
.working_hours {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

/* Кнопка "Создать новый" */
.create-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}



.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Черный фон */
    background-color: rgba(0,0,0,0.4); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Изменено для уменьшения высоты */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Изменено для уменьшения ширины */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}