/* Убираем лишнее пустое место */
body {
    margin-top: 20px;
    margin-left: 200px;
}
.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto; /* Центрирование */
}
/* Фиксируем ширину колонок */
.columns {
    display: grid;
    grid-template-columns: 1.1fr 1.5fr 0.8fr 0.8fr 0.8fr 1.4fr 1.6fr 1.5fr auto;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.book {
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 0.9fr 0.9fr 0.7fr 1.0fr 2fr 1.5fr auto;
    align-items: center;
    gap: 8px;
    width: 100%;
}
/* Делаем заголовки более выраженными */
.columns {
    padding: 12px;
    background-color: #e9ecef;
    font-weight: bold;
    border-bottom: 2px solid #dee2e6;
    
}
/* Настройки строк */
.book {
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
    
}
/* Общие стили для текста */
.client, .client-contacts, .date, .time, .box, .service-name, .service-address, .car {
    font-size: 14px;
    color: #495057;
    text-align: left;
    border-right: 2px solid #dee2e6;
}
/* Выравнивание действий */
.action {
    display: flex;
    gap: 5px;
    justify-content: center;
}
/* Кнопки */
.action button {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
}

#delete-booking {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
.modal-content {
    width: 500px;
    height: 150px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}
#delete-booking:target {display: block;}
.delete-b {
    display: inline-block;
    border: 1px solid;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    font-size: 14pt;
    cursor:pointer;
}
.delete-b:hover {background: #bc4b4b;}