.profile-data {
    display:flex;
    flex-direction: row;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-left: 20px;
    
}
.container {
    margin-left: 300px;
}
h1 {
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    margin: 10px 0;
}
.edit-button, .logout-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.edit-button:hover, .logout-button:hover {
    background-color: #0056b3;
}