{% extends 'autoService/menu-layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/all_bookings.css' %}">

{% endblock %}

{% block content %}
<div class="filter">
    <form action="{% url 'all_bookings' %}" method="get" style="margin-left: 300px;">
        <label for="service_id">Название сервиса</label>
        <input type="text" name="service_id" value="{{ request.GET.name|default_if_none:'' }}">
        <label for="date">Дата</label>
        <input type="date" name="date">

        <input type="submit" value="Найти">
    </form>
</div>

<div class="container">
    <h1>Мои записи</h1>
    <div class="columns">
        <div class="client-c">
            <b>Клиент</b>
        </div>
        <div class="client-contacts-c">
            <b>Контакты клиента</b>
        </div>
        <div class="date-c">
            <b>Дата</b>
        </div>
        <div class="time-c">
            <b>Время</b>
        </div>
        <div class="box-c">
            <b>Бокс №</b>
        </div>
        <div class="service-name-c" style="margin-right: 15px;">
            <b>Сервис</b>
        </div>
        <div class="address-c">
            <b>Адрес</b>
        </div>
        <div class="car-c">
            <b>Автомобиль</b>
        </div>
        <div class="action-c">
            <b>Действие</b>
        </div>
    </div>
    <div class="delete-modal" id="delete-booking">
        <div class="modal-content">
            <h4>Вы действительно хотите удалить эту запись</h4>
            <a href="" class="btn btn-danger btn-sm delete-b">Удалить</a>
        </div>
    </div>
    {% for booking in all_bookings %}
        <div class="book">
            <div class="client">
                <span>{{ booking.user_id.name }} {{ booking.user_id.surname }}</span>
            </div>
            <div class="client-contacts">
                <span>{{ booking.user_id.email }}</span>
                <p>{{ booking.user_id.phone_number }}</p>
            </div>
            <div class="date">
                <span>{{ booking.date }}</span>
            </div>
            <div class="time">
                <span>{{ booking.start_time }} - {{ booking.end_time }}</span>
            </div>
            <div class="box">
                <span style="margin-left: 43px;">{{ booking.box.name }}</span>
            </div>
            <div class="service-name">
                <span>{{ booking.service_id.name }}</span>
            </div>
            <div class="service-address">
                <span>{{ booking.service_id.address }}</span>
            </div>
            <div class="car">
                <span>{{ booking.user_car_id.make }} {{ booking.user_car_id.model }}</span>
            </div>

            <div class="action">
                <a class="btn btn-warning btn-sm" th:onclick="'location.href=\'/edit-booking/' + ${booking.id} + '\''">Редактировать</a>
                <a class="btn btn-danger btn-sm" href="#delete-booking">Удалить</a>
            </div>
        </div>
    {% empty %}
    <p>Бронирований не найдено</p>
    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function confirmDelete(button) {
        if (confirm("Вы уверены, что хотите удалить эту бронь?")) {
            // Удаление строки
            var row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
    }
</script>
{% endblock %}
